<div class="header">
	<div class="logo">
		<a href="/#home"><img src="images/logo.png"></a>
	</div>
	<div class="menu">
		<ul>
			<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
			<li class="menuItem"><a href="">Travel Packages</a></li>
			<li class="menuItem"><a href="">Pricing</a></li>
			<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
		</ul>
	</div>
</div>
<div class="adminMain">
	<div>
		<div class="signinText">Sign into your account</div>
		<div class="form" align="center">
	    	<form ng-submit="adminLogin()">
	        <label>Username</label>
	        <input type="text" ng-model="user.username" placeholder="username" required>
	        <label>Password</label>
	        <input type="password" ng-model="user.password" placeholder="password" required>
	        <button type="submit" value="#/login"class="signinButton">Sign in</button>
	        </form>
	        <a href="/#forgot"><div class="forgotPassword">Forgot password</div></a>
	        <div class="warning text-warning" style="width:100%">{{error_message}} <img src="../images/cross.png"></div>
	    	
    	</div>
	</div>
</div>

