	
	<div class="airportDrop">
		<img src="images/icon/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<button class="dropSubmit">Book Now</button>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<a href="/#home"><img src="images/logo.png"></a>
			</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
					<li class="menuItem"><a href="/#package">Travel Packages</a></li>
					<li class="menuItem"><a href="">Pricing</a></li>
					<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
						<ul class="dropdown">
							<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
							<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
						</ul>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					
					</li>
				</ul>
			</div>
		</div>
		<div class="bookingForm">
			<script>
				function maxLengthCheck(object)
				  {if (object.value.length > object.maxLength)
				      object.value = object.value.slice(0, object.maxLength)};
			</script>
				<div class="row">
					<div class="col-md-8">
						<form ng-submit="addBooking(current_user)" class="book-form">
						<div class="bookingHead">
							Ride Details
						</div>
						<div class="row">
							<label>Booking type</label><br>
							<input type="radio" id="normal" name="bookingType" ng-model="booking.bookingType" value="normal" required> Normal
							<input type="radio" id="emergency" name="bookingType" ng-model="booking.bookingType" value="emergency" required> Emergency
						</div>
						<div class="row">
							<label>Journey type</label><br>
							<input type="radio" class="oneWay" name="journeyType" ng-model="booking.journeyType" value="oneWay" required> One way
							<input type="radio" class="roundTrip" name="journeyType" ng-model="booking.journeyType" value="roundTrip" required> Round Trip
						</div>
						<div class="row">
							<div class="col-md-3">
								<label>Pickup location</label><br>
								<select style="color:#a9b1c6" name="pickupLocation" ng-model="booking.pickupLocation" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
									<option>Bangalore(airport)</option>
									<option>Bangalore(city)</option>
									<option>Chennai(airport)</option>
									<option>Chennai(central)</option>
									<option>Chennai(city)</option>
									<option>Chittor Bus Stand</option>
									<option>CMC</option>
									<option>Coorg</option>
									<option>Goa</option>
									<option>Kanyakumari</option>
									<option>Katpadi Station</option>
									<option>Kodaikanal</option>
									<option>Munnar</option>
									<option>Mysore</option>
									<option>Ooty</option>
									<option>Pondicherry</option>
									<option>VIT Campus</option>	
								</select>		
							</div>
							<div class="col-md-3">
								<label>Drop Location</label><br>
								<select style="color:#a9b1c6" name="dropLocation" ng-model="booking.dropLocation" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
									<option>Bangalore(airport)</option>
									<option>Bangalore(city)</option>
									<option>Chennai(airport)</option>
									<option>Chennai(central)</option>
									<option>Chennai(city)</option>
									<option>Chittor Bus Stand</option>
									<option>CMC</option>
									<option>Coorg</option>
									<option>Goa</option>
									<option>Kanyakumari</option>
									<option>Katpadi Station</option>
									<option>Kodaikanal</option>
									<option>Munnar</option>
									<option>Mysore</option>
									<option>Ooty</option>
									<option>Pondicherry</option>
									<option>VIT Campus</option>
								</select>
							</div>
							<div class="col-md-3">
								<label>Departure date</label><br>
								<input id="datepicker1" ng-model="booking.departDate" type="text" required>		
							</div>
							<div class="col-md-3">
								<label>Departure time</label><br>
								<select class="departTime" ng-model="booking.departTime"  required>
									<option>12:00 AM</option>
									<option>01:00 AM</option>
									<option>02:00 AM</option>
									<option>03:00 AM</option>
									<option>04:00 AM</option>
									<option>05:00 AM</option>
									<option>06:00 AM</option>
									<option>07:00 AM</option>
									<option>08:00 AM</option>
									<option>09:00 AM</option>
									<option>10:00 AM</option>
									<option>11:00 AM</option>
									<option>12:00 PM</option>
									<option>01:00 PM</option>
									<option>02:00 PM</option>
									<option>03:00 PM</option>
									<option>04:00 PM</option>
									<option>05:00 PM</option>
									<option>06:00 PM</option>
									<option>07:00 PM</option>
									<option>08:00 PM</option>
									<option>09:00 PM</option>
									<option>10:00 PM</option>
									<option>11:00 PM</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
									<label>Return date</label><br>
									<input id="datepicker2" class="returnDate" name="returnDate" ng-model="booking.returnDate" type="text" required>
							</div>
							<div class="col-md-3">
								<label>Return time</label><br>
								<select style="color:#a9b1c6" class="returnTime" ng-model="booking.returnTime" required>
									<option>12:00 AM</option>
									<option>01:00 AM</option>
									<option>02:00 AM</option>
									<option>03:00 AM</option>
									<option>04:00 AM</option>
									<option>05:00 AM</option>
									<option>06:00 AM</option>
									<option>07:00 AM</option>
									<option>08:00 AM</option>
									<option>09:00 AM</option>
									<option>10:00 AM</option>
									<option>11:00 AM</option>
									<option>12:00 PM</option>
									<option>01:00 PM</option>
									<option>02:00 PM</option>
									<option>03:00 PM</option>
									<option>04:00 PM</option>
									<option>05:00 PM</option>
									<option>06:00 PM</option>
									<option>07:00 PM</option>
									<option>08:00 PM</option>
									<option>09:00 PM</option>
									<option>10:00 PM</option>
									<option>11:00 PM</option>
								</select>
							</div>
							<div class="col-md-3">
								<label>Number of passengers</label><br>
								<select ng-model="booking.passengers"  required value="2">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>10+</option>
								</select>
							</div>
							<div class="col-md-3">
								<label>Car type</label><br>
								<select  ng-model="booking.carType" required>
									<option>Mini</option>
									<option>Sedan</option>
									<option>Innova</option>
									<option>SUV</option>
									<option>Tempo</option>
								</select>
							</div>
						</div>
						<div class="bookingHead">
							Personal Details
						</div>
						<div class="row">
							<div class="col-md-3">
								<label>Name</label><br>
								<input placeholder="Enter your name" name="fullName" ng-model="booking.customerName" type="text" required>	
							</div>
							<div class="col-md-3">
								<label>Email</label><br>
								<input placeholder="Enter email address" name="email" ng-model="booking.customerEmail" type="email" required>
							</div>
							<div class="col-md-3">
								<label>Contact Number</label><br>
								<input placeholder="Enter your mobile number" name="contact" ng-model="booking.customerContact" type="number" required maxlength="10" minlength="10" oninput="maxLengthCheck(this)">	
							</div>
							<div class="col-md-3">
								<label>Address</label><br>
								<input placeholder="Present address" ng-model="booking.customerAddress" type="text" required>
							</div>
						</div>
						<div class="row confirmMobile">
							<button type="submit">Continue</button>
						</div>
						</form>
						<div class="row otp">
							<form ng-submit="verifyOTP()" id="OTPform" class="OTPform">
								<div class="col-md-5">
									<label>Confirm your booking by entering OTP</label>
									<input type="text" placeholder="enter OTP" ng-model="enteredOTP">
									<div class="incorrectOTP">OTP is incorrect*</div>
								</div>
								<div class="col-md-5"><label> </label>
									<button type="submit">Confirm OTP</button>
								</div>
							</form>
						</div>
						<div class="payment">
							<a href="" class="paymentHref" target="_blank"><button class="instaButton">Proceed to Pay</button></a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sidebanner1">
							<img src="images/sideBanner1.jpg">
						</div>
						<div class="sidebanner2">
							<img src="images/sideBanner2.jpg">
						</div>
					</div>

				</div>
			
		</div>
		<div class="footer">
			<div class="container">
				<div class="left col-md-6 col-sm-6">
					&copy; 2015 Sasi Travels
				</div>
				<div class="right col-md-6 col-sm-6">
					Designed By: <a href="http://www.arjun-wadhwa.me" target="blank">Arjun Wadhwa</a>
				</div>
			</div>
		</div>
    </div>
