	
	<div class="airportDrop">
		<img src="images/icon/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<button class="dropSubmit">Book Now</button>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<a href="/#home"><img src="images/logo.png"></a>
			</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
					<li class="menuItem"><a href="/#package">Travel Packages</a></li>
					<li class="menuItem"><a href="">Pricing</a></li>
					<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
						<ul class="dropdown">
							<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
							<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
						</ul>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					
					</li>
				</ul>
			</div>
		</div>
		<div class="contactMain">
			<div class="contactHead">
					Let's buy you a comfortable ride!			
				</div>
				<div class="contactSubtext">
					Get in touch with us. We will get back to you soon.	
				</div>
			<div class="contactName">
				M D Asil
			</div>
			<div class="contactDetails">
				+91 98945 99145/ +91 90420 99195<br>
				sasitravels786@gmail.com<br>
				Vasu complex, Oppo. VIT All Mart, Katpadi, Vellore - 632014
			</div>
			<div class="contact" id="contact">
				
				<div id="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817.3591898277956!2d79.15422509463366!3d12.969455059447826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad470ab1f0c851%3A0xe3c11bc5773d5cf6!2sSasi+Tours+%26+Travels!5e0!3m2!1sen!2sin!4v1467034175809" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<form ng-submit="submitContact()">
					<div class="row">
						<div class="col-md-6">
							<input type="text" placeholder="name" ng-model="contact.name" required>
							<input type="email" placeholder="email" ng-model="contact.email" required>
							<input type="text" placeholder="contact number" ng-model="contact.number" pattern="[7-9]{1}[0-9]{9}" required>
						</div>
						<div class="col-md-6">
							<textarea placeholder="message" ng-model="contact.message"></textarea>
							<button type="submit">Send</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="left col-md-6 col-sm-6">
					&copy; 2015 Sasi Travels
				</div>
				<div class="right col-md-6 col-sm-6">
					Designed By: <a href="http://www.arjun-wadhwa.me" target="blank">Arjun Wadhwa</a>
				</div>
			</div>
		</div>