
	<div class="airportDrop">
		<img src="images/icons/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<button class="dropSubmit">Book Now</button>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<a href="/#"><img src="images/logo.png"></a>
			</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="">Travel Packages</a></li>
					<li class="menuItem"><a href="">Pricing</a></li>
					<li class="menuItem"><a href="">Inquire Now</a></li>
					<li class="menuItem" ng-show="authenticated"><a href="">My Account</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a ng-click="signout()" style="cursor:pointer">Signout</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="bookingForm">
			<form>
				<div class="bookingHead">
					Ride Details
				</div>
				<div class="row">
					<label>Booking type</label><br>
					<input type="radio" name="bookingType" value="normal" required> Normal
					<input type="radio" name="bookingType" value="emergency" required> Emergency
				</div>
				<div class="row">
					<label>Journey type</label><br>
					<input type="radio" name="journeyType" value="oneWay"> One way
					<input type="radio" name="journeyType" value="roundTrip"> Round Trip
				</div>
				<div class="row">
					<div class="col-md-5">
						<label>Pickup location</label><br>
						<select style="color:#a9b1c6" name="pickupLocation" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
							<option selected disabled >Pickup location</option>
							<option>Bangalore(airport)</option>
							<option>Bangalore(city)</option>
							<option>Chennai(airport)</option>
							<option>Chennai(central)</option>
							<option>Chennai(city)</option>
							<option>Chittor Bus Stand</option>
							<option>CMC</option>
							<option>Coorg</option>
							<option>Goa</option>
							<option>Kanyakumari</option>
							<option>Katpadi Station</option>
							<option>Kodaikanal</option>
							<option>Munnar</option>
							<option>Mysore</option>
							<option>Ooty</option>
							<option>Pondicherry</option>
							<option>VIT Campus</option>	
						</select>		
					</div>
					<div class="col-md-5">
						<label>Drop Location</label><br>
						<select style="color:#a9b1c6" name="dropLocation" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
							<option selected disabled >Drop location</option>
							<option>Bangalore(airport)</option>
							<option>Bangalore(city)</option>
							<option>Chennai(airport)</option>
							<option>Chennai(central)</option>
							<option>Chennai(city)</option>
							<option>Chittor Bus Stand</option>
							<option>CMC</option>
							<option>Coorg</option>
							<option>Goa</option>
							<option>Kanyakumari</option>
							<option>Katpadi Station</option>
							<option>Kodaikanal</option>
							<option>Munnar</option>
							<option>Mysore</option>
							<option>Ooty</option>
							<option>Pondicherry</option>
							<option>VIT Campus</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label>Departure date</label><br>
						<input placeholder="Departure date" name ="departDate" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" required>		
					</div>
					<div class="col-md-5">
						<label>Return date</label><br>
						<input placeholder="Return date" name ="returnDate" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label>Departure time</label><br>
						<select style="color:#a9b1c6" name ="departTime" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
							<option selected disabled >Departure time</option>
							<option>12:00 AM</option>
							<option>01:00 AM</option>
							<option>02:00 AM</option>
							<option>03:00 AM</option>
							<option>04:00 AM</option>
							<option>05:00 AM</option>
							<option>06:00 AM</option>
							<option>07:00 AM</option>
							<option>08:00 AM</option>
							<option>09:00 AM</option>
							<option>10:00 AM</option>
							<option>11:00 AM</option>
							<option>12:00 PM</option>
							<option>01:00 PM</option>
							<option>02:00 PM</option>
							<option>03:00 PM</option>
							<option>04:00 PM</option>
							<option>05:00 PM</option>
							<option>06:00 PM</option>
							<option>07:00 PM</option>
							<option>08:00 PM</option>
							<option>09:00 PM</option>
							<option>10:00 PM</option>
							<option>11:00 PM</option>
						</select>	
					</div>
					<div class="col-md-5">
						<label>Return time</label><br>
						<select style="color:#a9b1c6" name ="returnTime" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
							<option selected disabled >Return time</option>
							<option>12:00 AM</option>
							<option>01:00 AM</option>
							<option>02:00 AM</option>
							<option>03:00 AM</option>
							<option>04:00 AM</option>
							<option>05:00 AM</option>
							<option>06:00 AM</option>
							<option>07:00 AM</option>
							<option>08:00 AM</option>
							<option>09:00 AM</option>
							<option>10:00 AM</option>
							<option>11:00 AM</option>
							<option>12:00 PM</option>
							<option>01:00 PM</option>
							<option>02:00 PM</option>
							<option>03:00 PM</option>
							<option>04:00 PM</option>
							<option>05:00 PM</option>
							<option>06:00 PM</option>
							<option>07:00 PM</option>
							<option>08:00 PM</option>
							<option>09:00 PM</option>
							<option>10:00 PM</option>
							<option>11:00 PM</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label>Number of passengers</label><br>
						<select style="color:#a9b1c6" name ="passengers" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
							<option selected disabled >Number of passengers</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>10+</option>
						</select>
					</div>
					<div class="col-md-5">
						<label>Car type</label><br>
						<select style="color:#a9b1c6" name="vehicleType" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')" required>
							<option selected disabled >Select vehicle</option>
							<option>Mini</option>
							<option>Sedan</option>
							<option>Innova</option>
							<option>SUV</option>
							<option>Tempo</option>
						</select>
					</div>
				</div>
				<div class=" row verifyMobile">
					<div></div>
				</div>
				<div class="bookingHead">
					Personal Details
				</div>
				<div class="row">
					<div class="col-md-5">
						<label>Name</label><br>
						<input placeholder="Enter your name" name="fullName" ng-model="fullName" type="text" required>	
					</div>
					<div class="col-md-5">
						<label>Email</label><br>
						<input placeholder="Enter email address" name="email" ng-model="email" type="email" required>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<label>Contact Number</label><br>
						<input placeholder="Enter your mobile number" name="contact" ng-model="contact" type="text" required maxlength="10" minlength="10">	
					</div>
					<div class="col-md-5">
						<label>Address</label><br>
						<input placeholder="Present address" type="text" required>
					</div>
				</div>
				<div class="bookingHead">
					Payment Options
				</div>
			</form>
		</div>
		<div class="footer">
			<div class="container">
				<div class="left col-md-6 col-sm-6">
					&copy; 2015 Sasi Travels
				</div>
				<div class="right col-md-6 col-sm-6">
					Designed By: <a href="https://www.facebook.com/Cornifus" target="blank">Arjun Wadhwa</a>
				</div>
			</div>
		</div>
    </div>
	<script type="text/javascript">
		$(".airportDrop").click(function(){
	      $(".dropDetails").css("right","0px");
	    });
	    
	    $(".dropSubmit, .cancel").click(function(){
	      $(".dropDetails").css("right","-300px");
	    });
    </script>