<div class="main">
	<div class="header">
		<div class="logo">
			<a href="/#home"><img src="images/logo.png"></a>
		</div>
		<div class="menu">
			<ul>
				<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
				<li class="menuItem"><a href="">Travel Packages</a></li>
				<li class="menuItem"><a href="">Pricing</a></li>
				<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
			</ul>
		</div>
	</div>
	<div class="signinMain" align="center">
		<div class="forgotText">Enter your registered email address to recover your password.</div>
	    <div class="form" align="center" style="margin:0">
	    	<form ng-submit="forgot()">
	        <input type="email" ng-model="user.email" placeholder="email">
	        <button type="submit" value="forgot"class="signinButton">submit</button>
	    	</form>
	    </div>
	</div>
</div>
