
	<div class="airportDrop">
		<img src="images/icon/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<a href="/#book"><button class="dropSubmit">Book Now</button></a>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<img src="images/logo.png">
			</div>
			<div class="listToggle">
					<img src="../images/menu.png">
				</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
					<li class="menuItem"><a href="/#package">Travel Packages</a></li>
					<li class="menuItem"><a href="">Pricing</a></li>
					<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
						<ul class="dropdown">
							<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
							<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
						</ul>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					
					</li>
				</ul>
			</div>
		</div>
		<div class="slider">
			<div class="sliderItem1">
				<img src="images/2.jpg">
			</div>
			<div class="sliderItem2">
				<img src="images/1.jpg">
			</div>
			<div class="sliderItem3">
				<img src="images/3.jpg">
			</div>
		</div>
		<div class="about">
			<div class="aboutHeader">
				Now booking a cab is as easy as eating a pie with Sasi Travels
			</div>
			<div class="row iconRow">
				<div class="col-md-3 col-xs-6 aboutIcon">
					<img src="../images/icon/1.png">
					<div class="iconHead">Check Availability</div>
					<div class="iconDescription">Check availability of cab for the date of your journey.</div>
				</div>
				<div class="col-md-3 col-xs-6 aboutIcon">
					<img src="../images/icon/2.png">
					<div class="iconHead">Select your car</div>
					<div class="iconDescription">We provides wide range of options as per your travel requirements.</div>
				</div>
				<div class="col-md-3 col-xs-6 aboutIcon">
					<img src="../images/icon/3.png">
					<div class="iconHead">Pay online</div>
					<div class="iconDescription">Pay online to confirm the booking through Sasi travel's easyPAY options. </div>
				</div>
				<div class="col-md-3 col-xs-6 aboutIcon">
					<img src="../images/icon/4.png">
					<div class="iconHead">Travel hassle free</div>
					<div class="iconDescription">Travel safe and comfortable with our experienced cab drivers.</div>
				</div>
			</div>
		</div>
		<!-- <div class="quickBooking">
			<form>
				<select style="color:#a9b1c6" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')">
					<option selected disabled >Pickup location</option>
					<option>VIT Camput</option>
					<option>CMC</option>
					<option>Chittor Bus Stand</option>
					<option>Katpadi Rly Station</option>
					<option>New bus stand</option>
				</select>
				<input type="text" placeholder="drop location" required>
				<input placeholder="journey date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')">

				<select style="color:#a9b1c6" onfocus="(this.style.color='black')" onblur="(this.style.color='#a9b1c6')">
					<option selected disabled >vehicle type</option>
					<option>Mini</option>
					<option>Sedan</option>
					<option>Tavera</option>
					<option>Innova</option>
					<option>Tempo</option>
				</select>
				<button>Book Now</button>
			</form>
		</div> -->
		<div class="travelPackages">
			<div class="packagesHead">Experience the essence of India with our Exclusive Travel Packages</div>
			<div class="row">
				<div class="mysore col-md-6">
					<div class="mysoreInside">
						<div class="mysoreName">MYSORE</div>
					</div>
					<div class="munnar">
						<div class="mysoreName">MUNNAR</div>
					</div>
				</div>
				<div class="blueBox col-md-3">
				<span>If peace and a break is the most sough after, then <span style="font-size:22px; font-weight:bold">Pondicherry</span> is surely one of the best holiday destinations in South India.</span><br><span style="font-size:22px; font-weight:bold">2 Days @ ₹3999</span> 
				</div>
				<div class="col-md-3 coorg">
					<div class="coorgInside">
						<div class="coorgName">COORG</div>
					</div>
					<div class="goa">
						<div class="coorgName">GOA</div>
					</div>
				</div>
				<div class="blueBox col-md-3">
					Experience the chill of Hills and serenity of nature in <span style="font-size:22px; font-weight:bold">Kodaikanal</span> forest valleys.</span><br><span style="font-size:22px; font-weight:bold">3 Days @ ₹6999</span> 
				</div>
				<div class="col-md-4 pondi">
					<div class="pondiInside">
						<div class="pondiName">PONDICHERRY</div>
					</div>
					<div class="kodaikanal">
						<div class="pondiName">KODAIKANAL</div>
					</div>
				</div>
				<div class="ooty col-md-5">
					<div class="ootyInside">
						<div class="ootyName">OOTY</div>
					</div>
					<div class="kanyakumari">
						<div class="ootyName" style="font-size:60px">KANYAKUMARI</div>
					</div>
				</div>
			</div>
		</div>
		<div class="emergency">
			<div class="row">
				<div class="col-md-7">
					<div class="emergencyText">
						Introducing now <b>24/7 Emergency Cab Service</b></br>
						Now book Sasi Travels Taxi Cab from anywhere and anyplace.
					</div>
					<div class="emergencyButton">
						<button>Book Now</button>
					</div>
				</div>
				<div class="col-md-5 family">
					<img src="../images/girl.jpg">
				</div>
			</div>
		</div>
		<div class="contact" id="contact">
			<div class="contactHead">
				Let's buy you a comfortable ride!			
			</div>
			<div class="contactSubtext">
				Get in touch with us. We will get back to you soon.	
			</div>
			<div id="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d817.3591898277956!2d79.15422509463366!3d12.969455059447826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad470ab1f0c851%3A0xe3c11bc5773d5cf6!2sSasi+Tours+%26+Travels!5e0!3m2!1sen!2sin!4v1467034175809" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<form ng-submit="submitContact()">
				<div class="row">
					<div class="col-md-6">
						<input type="text" placeholder="name" ng-model="contact.name" required>
						<input type="email" placeholder="email" ng-model="contact.email"required>
						<input type="text" placeholder="contact number" ng-model="contact.number" pattern="[7-9]{1}[0-9]{9}" required>
					</div>
					<div class="col-md-6">
						<textarea placeholder="message" ng-model="contact.message" required></textarea>
						<button type="submit">Send</button>
					</div>
				</div>
			</form>
		</div>

		<div class="footer">
			<div class="container">
				<div class="left col-md-6 col-sm-6 col-xs-6">
					&copy; 2015 Sasi Travels
				</div>
				<div class="right col-md-6 col-sm-6 col-xs-6">
					Designed By: <a href="http://www.arjun-wadhwa.me" target="blank">Arjun Wadhwa</a>
				</div>
			</div>
		</div>
    </div>
	<script type="text/javascript">
		
    </script>