
	<div class="airportDrop">
		<img src="images/icon/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<button class="dropSubmit">Book Now</button>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<a href="/#home"><img src="images/logo.png"></a>
			</div>
			<div class="listToggle">
				<img src="../images/menu.png">
			</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
					<li class="menuItem"><a href="/#package">Travel Packages</a></li>
					<li class="menuItem"><a href="">Pricing</a></li>
					<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
						<ul class="dropdown">
							<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
							<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
						</ul>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					
					</li>
				</ul>
			</div>
		</div>
		<div class="packagesMain">
			<div class="row">
				<div class="col-md-9">
					<div class="packageHead">
						Experience the essence of India with our Exclusive Travel Packages
					</div>
					<div class="row">
						<div class="col-md-3 packageGoa">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								GOA 6 Days @ ₹12599
							</div>
							<div class="detailText">
								Pint-sized Goa is more than beaches and trance parties. A kaleidoscopic blend of Indian and Portuguese cultures, sweetened with sun, sea and sand.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 packageOoty">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								OOTY 3 Days @ ₹6999
							</div>
							<div class="detailText">
								The town is connected by the Nilgiri ghat roads and Nilgiri Mountain Railway. Its natural beauty attracts tourists and it is a popular summer destination. Ooty lake covers an area of 65 acres. The boat house established alongside the lake, which offers boating facilities to tourists, is a major tourist attraction in Ooty.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 packageMunnar">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								 MUNNAR 4 Days @ ₹9499
							</div>
							<div class="detailText">
								Munnar is a town in the Western Ghats mountains in India’s Kerala state. Munnar, a hill station and former resort for the British Raj elite, is set within rolling hills dotted with tea plantations established in the 19th century. Eravikulam National Park, home to the endangered mountain goat Nilgiri tahr, is a seasonal trekking destination encompassing the Lakkam Waterfalls and 2,695m-tall Anamudi Peak.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 packageKodai">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								KODAIKANAL 3 Days @ ₹6999
							</div>
							<div class="detailText">
								Kodaikanal is a hill town in the southern Indian state of Tamil Nadu. It’s set in an area of granite cliffs, forested valleys, lakes, waterfalls and grassy hills. At 2,000 meters above sea level, it has a cooler climate than the plains below and is a popular holiday destination. The town centers around star-shaped, man-made Kodaikanal Lake, bordered by evergreen forest.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 packageKanya">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								KANYAKUMARI 5 Days @ ₹12599
							</div>
							<div class="detailText">
								Surrounded by Majestic Hills and the plains bordered by colourful sea-shores, fringed with coconut trees and paddy fields, here and there are few elevated patches of red cliffs with undulating valleys and plains between the mountainous terrain and the sea - coast, so closely interwoven with Temples and Churches and other edifices lies the district, 'Kanniyakumari'.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 packagePondi">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								PONDICHERRY 2 Days @ ₹3999
							</div>
							<div class="detailText">
								 If peace and a break is the most sough after, then Pondicherry is surely one of the choicest holiday destinations in South India. The town offers a unique experience with its mix of modern heritage and spiritual culture. With a predominantly historical background, Pondicherry takes one centuries back in time.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 packageMysore">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								MYSORE 3 Days @ ₹6999
							</div>
							<div class="detailText">
								In its center is opulent Mysore Palace, former seat of the ruling Wodeyar dynasty. The palace blends Hindu, Islamic, Gothic and Rajput styles, and is dramatically lit at night. Mysore is also home to the centuries-old Devaraja Market, filled with spices, silk and sandalwood.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 packageCoorg">
						</div>
						<div class="col-md-7 description">
							<div class="detailHead">
								COORG 3 Days @ ₹6999
							</div>
							<div class="detailText">
								Kodagu is rated as one of the top hill station destinations in India. Some of the most popular tourist attractions in Kodagu include Talakaveri, Bhagamandala, Nisargadhama, Abbey Falls, Dubare, Nagarahole National Park, Iruppu Falls, and the Tibetan Buddhist Golden Temple.
							</div>
						</div>
						<div class="col-md-1">
							<a href="/#book"><button>Book now</button></a>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="sidebanner11">
						<img src="images/sideBanner1.jpg">
					</div>
					<div class="sidebanner22">
						<img src="images/sideBanner2.jpg">
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="left col-md-6 col-sm-6 col-xs-6">
					&copy; 2015 Sasi Travels
				</div>
				<div class="right col-md-6 col-sm-6 col-xs-6">
					Designed By: <a href="http://www.arjun-wadhwa.me" target="blank">Arjun Wadhwa</a>
				</div>
			</div>
		</div>