
	<div class="airportDrop">
		<img src="images/icon/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<button class="dropSubmit">Book Now</button>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<a href="/#home"><img src="images/logo.png"></a>
			</div>
			<div class="listToggle">
				<img src="../images/menu.png">
			</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
					<li class="menuItem"><a href="/#package">Travel Packages</a></li>
					<li class="menuItem"><a href="/#pricing">Pricing</a></li>
					<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
						<ul class="dropdown">
							<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
							<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
						</ul>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					
					</li>
				</ul>
			</div>
		</div>
		<div class="pricingMain">
			<div class="row">
				<div class="col-md-9">
					<table border="0" cellpadding="0" cellspacing="3">
						<tr>
						    <td colspan="2">
						    	<div class="row">
						    		<div class="col-md-4">
										Source:
						       		    <input type="text" id="txtSource" placeholder="Starting point" style="width: 95%" />
						    		</div>
						        	<div class="col-md-4">
						        		Destination:
						      		    <input type="text" id="txtDestination" placeholder="Destination" style="width: 95%" />
						      		</div>
						      		<div class="col-md-4">
						        		Car:
								        <select id="txtCar" style="width: 95%" >
								        	<option value="10">Mini</option>
								        	<option value="12">Sedan</option>
								        	<option value="13">Innova</option>
								        	<option value="14">SUV</option>
								        	<option value="18">Tempo</option>
								        </select>
								       </div>
						        </div>
						        <input type="button" value="Calculate Price" onclick="GetRoute()" />
						        <hr />
						    </td>
						</tr>
						<tr>
						    <td colspan="2">
						    	<label>Distance</label>
						        <div id="dvDistance">
						        </div>
						        <br><label>Estimated Journey Time</label>
						        <div id="dvDuration">
						        </div>
						        <br><label>Cost per KM</label>
					        	<div id="dvCarcost">
					        	</div>
						        <br><label>Total Cost</label>
						        <div id="dvCost">
						        </div>
						        <br><label> Service Charge</label>
						        <div id="dvExtra"></div>
						        <br><label>Journey cost</label>
						        <div id="totalCost"></div>
						    </td>
						</tr>
						<tr>
						    <td>
						        <div id="dvMap" style="width: 500px; height: 500px; display:none">
						        </div>
						    </td>
						    <td>
						    </td>
						</tr>
					</table>

				</div>
				<div class="col-md-3">
					<div class="sidebanner11">
						<img src="images/sideBanner1.jpg">
					</div>
					<div class="sidebanner22">
						<img src="images/sideBanner2.jpg">
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container">
				<div class="left col-md-6 col-sm-6 col-xs-6">
					&copy; 2015 Sasi Travels
				</div>
				<div class="right col-md-6 col-sm-6 col-xs-6">
					Designed By: <a href="http://www.arjun-wadhwa.me" target="blank">Arjun Wadhwa and Daksh Asija</a>
				</div>
			</div>
		</div>