
	<div class="airportDrop">
		<img src="images/icon/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<button class="dropSubmit">Book Now</button>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<a href="/#home"><img src="images/logo.png"></a>
			</div>
			<div class="listToggle">
				<img src="../images/menu.png">
			</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
					<li class="menuItem"><a href="/#package">Travel Packages</a></li>
					<li class="menuItem"><a href="/#pricing">Pricing</a></li>
					<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
						<ul class="dropdown">
							<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
							<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
						</ul>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					
					</li>
				</ul>
			</div>
		</div>
		<div class="profileMain">
			<div class="row">
				<div class="col-md-8 col-xs-12">
				<div class="userInfo">
					<div class="row">
						<div class="col-md-3 col-xs-3 col-sm-3">
							<div class="userImage">
								<img src="../images/user.png">
							</div>
						</div>
						<div class="col-md-9 col-xs-9 col-sm-9">
							<div class="userInfoName">{{ current_user_name }}</div>
							<div class="userInfoEmail">{{ current_user_email}}</div>
						</div>
					</div>
				</div>
				<div class="bookingHistory">
					<div class="historyHead">Recent Bookings</div>
					<div class="historyDetailsHead row">
						<div class="col-md-4 col-sm-4 col-xs-4">Date</div>
<!-- 						<div class="col-md-2 col-sm-3 col-xs-3">Pickup Location</div>
						<div class="col-md-2 col-sm-3 col-xs-3">Drop Location</div> -->
						<div class="col-md-3 col-sm-3 col-xs-3">Status</div>
						<div class="col-md-5 col-sm-5 col-xs-5">Payment Id</div>
					</div>
					<div class="historyDetails row" ng-repeat="booking in allBookings | filter: { status: 'paid'} | filter:{userId: current_user}">
						<div class="col-md-4 col-sm-4 col-xs-4">{{booking.departDate}}</div>
<!-- 						<div class="col-md-2 col-sm-3 col-xs-3">{{booking.pickupLocation}}</div>
						<div class="col-md-2 col-sm-3 col-xs-3">{{booking.dropLocation}}</div> -->
						<div class="col-md-3 col-sm-3 col-xs-3">{{booking.status}}</div>
						<div class="col-md-5 col-sm-5 col-xs-5">{{booking.payment_id}}</div>
					</div>
				</div>
				</div>
				<div class="col-md-4">
					<div class="sidebanner1">
						<img src="images/sideBanner1.jpg">
					</div>
					<div class="sidebanner2">
						<img src="images/sideBanner2.jpg">
					</div>
				</div>
			</div>
		</div>


		