
	<div class="airportDrop">
		<img src="images/icon/plane.png">
		<div class="dropText">Airport drop</div>
	</div>
	<div class="dropDetails">
		<div class="">
		Vellore to Chennai Airport drop @ ₹1999 
		</div>
		<button class="dropSubmit">Book Now</button>
		<a class="cancel">cancel</a>
	</div>
	<div class="main">
		<div class="header">
			<div class="logo">
				<a href="/#home"><img src="images/logo.png"></a>
			</div>
			<div class="menu">
				<ul>
					<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
					<li class="menuItem"><a href="/#package">Travel Packages</a></li>
					<li class="menuItem"><a href="">Pricing</a></li>
					<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
					<li ng-hide="authenticated">
					<a href="/#login"><button id="signin">Login</button></a>
					</li>					<li ng-hide="authenticated">
					<a href="/#signup"><button id="signup">Signup</button></a>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
						<ul class="dropdown">
							<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
							<li><a href="/#bookingHistory" style="cursor:pointer">My bookings</a></li>
							<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
						</ul>
					</li>
					<li  class="menuItem" ng-show="authenticated">
					
					</li>
				</ul>
			</div>
		</div>


		