<div class="main">
	<div class="header">
		<div class="logo">
			<a href="/#"><img src="images/logo.png"></a>
		</div>
			<div class="listToggle">
				<img src="../images/menu.png">
			</div>
		<div class="menu">
			<ul>
				<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
				<li class="menuItem"><a href="">Travel Packages</a></li>
				<li class="menuItem"><a href="/#pricing">Pricing</a></li>
				<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
			</ul>
		</div>
	</div>
	<div class="signinMain" align="center">
		<div class="forgotText">Kindly enter new password to recover your account.</div>
	    <div class="form" align="center"  style="margin:0">
	    	<form ng-submit="resetPassword()">
	        <input type="password" ng-model="user.password" placeholder="enter new password">
	        <button type="submit" value="reset" class="signinButton">submit</button>
	    	</form>
	    </div>
	</div>
</div>
