<script type="text/javascript">
	function getUrlVars()
	{
	    var vars = [], hash;
	    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
	    for(var i = 0; i < hashes.length; i++)
	    {
	        hash = hashes[i].split('=');
	        vars.push(hash[0]);
	        vars[hash[0]] = hash[1];
	    }
	    return vars;
	}
	var payment_request_id = getUrlVars()["payment_request_id"];
	var payment_id = getUrlVars()["payment_id"];
	document.getElementById("prid").innerHTML = payment_request_id;
	document.getElementById("pid").innerHTML = payment_id;
</script>
<div class="airportDrop">
	<img src="images/icon/plane.png">
	<div class="dropText">Airport drop</div>
</div>
<div class="dropDetails">
	<div class="">
	Vellore to Chennai Airport drop @ ₹1999 
	</div>
	<button class="dropSubmit">Book Now</button>
	<a class="cancel">cancel</a>
</div>
<div class="header">
	<div class="logo">
		<a href="/#home"><img src="images/logo.png"></a>
	</div>
		<div class="listToggle">
			<img src="../images/menu.png">
		</div>
	<div class="menu">
		<ul>
			<li class="menuItem"><a href="/#book" style="color:#1e75ba">Book now</a></li>
			<li class="menuItem"><a href="/#package">Travel Packages</a></li>
			<li class="menuItem"><a href="">Pricing</a></li>
			<li class="menuItem"><a href="/#contact">Inquire Now</a></li>
			<li ng-hide="authenticated">
			<a href="/#login"><button id="signin">Login</button></a>
			</li>					<li ng-hide="authenticated">
			<a href="/#signup"><button id="signup">Signup</button></a>
			</li>
			<li  class="menuItem" ng-show="authenticated">
			<a style="cursor:pointer" class="dropdownMain">{{ current_user_name }}<img src="images/downArrow.png" width="20px"></a>
				<ul class="dropdown">
					<li><a href="/#profile" style="cursor:pointer">My profile</a></li>
					<li><a ng-click="signout()" style="cursor:pointer">Signout</a></li>
				</ul>
			</li>
			<li  class="menuItem" ng-show="authenticated">
			
			</li>
		</ul>
	</div>
</div>

<div class="row thankMain" ng-init="savePayment()">
	<div class="col-md-8">
		<div class="thankyou">
			<div class="thankHead">
				Thank You!
			</div>
			<div class="thankText">
				Your booking has been successfully confirmed. Your payment id is <span id="pid"></span>
				<br>
				Kindly follow the instructions recieved on your mobile phone for furthur details.
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="sidebanner1">
			<img src="images/sideBanner1.jpg">
		</div>
		<div class="sidebanner2">
			<img src="images/sideBanner2.jpg">
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="left col-md-6 col-sm-6 col-xs-6">
			&copy; 2015 Sasi Travels
		</div>
		<div class="right col-md-6 col-sm-6 col-xs-6">
			Designed By: <a href="http://www.arjun-wadhwa.me" target="blank">Arjun Wadhwa</a>
		</div>
	</div>
</div>
		